In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler

In [20]:
df = pd.DataFrame(columns=['Study_Hours', 'Extracurricular_Hours', 'Sleep_Hours', 'Social_Hours', 'Physical_Activity_Hours'],
                 data=[[4.8, 4.8, 4.8, 4.8, 4.8],
                       [6.9, 3.8, 8.7, 2.8, 1.8],
                       [5.1, 3.9, 9.2, 1.2, 4.6],
                       [5.3, 3.5, 8.0, 4.2, 3.0]])

In [6]:
x = pd.read_csv('./data/cleaned_student_lifetyle_dataset.csv')

In [7]:
x.head()

,Student_ID,Study_Hours,Extracurricular_Hours,Sleep_Hours,Social_Hours,Physical_Activity_Hours,GPA,Stress_Level
0,1,6.9,3.8,8.7,2.8,1.8,2.99,Moderate
1,2,5.3,3.5,8.0,4.2,3.0,2.75,Low
2,3,5.1,3.9,9.2,1.2,4.6,2.67,Low
3,4,6.5,2.1,7.2,1.7,6.5,2.88,Moderate
4,5,8.1,0.6,6.5,2.2,6.6,3.51,High

In [21]:
df

,Study_Hours,Extracurricular_Hours,Sleep_Hours,Social_Hours,Physical_Activity_Hours
0,4.8,4.8,4.8,4.8,4.8
1,6.9,3.8,8.7,2.8,1.8
2,5.1,3.9,9.2,1.2,4.6
3,5.3,3.5,8.0,4.2,3.0

In [10]:
import joblib

In [11]:
lr = joblib.load('reg.pkl')

In [22]:
lr.predict(df)

array([2.72391454, 3.01623308, 2.75667885, 2.79312484])

In [23]:
knn = joblib.load('class.pkl')

In [33]:
test = x.drop(columns=['Student_ID', 'GPA', 'Stress_Level'])

In [34]:
test = test.iloc[5:10, :]

In [35]:
test

,Study_Hours,Extracurricular_Hours,Sleep_Hours,Social_Hours,Physical_Activity_Hours
5,6.0,2.1,8.0,0.3,7.6
6,8.0,0.7,5.3,5.7,4.3
7,8.4,1.8,5.6,3.0,5.2
8,5.2,3.6,6.3,4.0,4.9
9,7.7,0.7,9.8,4.5,1.3

In [37]:
sc = StandardScaler()
scaled_df = sc.fit_transform(test)

In [38]:
knn.predict(scaled_df)

array(['Moderate', 'High', 'High', 'Low', 'High'], dtype=object)

In [36]:
x.iloc[5:10, :]

,Student_ID,Study_Hours,Extracurricular_Hours,Sleep_Hours,Social_Hours,Physical_Activity_Hours,GPA,Stress_Level
5,6,6.0,2.1,8.0,0.3,7.6,2.85,Moderate
6,7,8.0,0.7,5.3,5.7,4.3,3.08,High
7,8,8.4,1.8,5.6,3.0,5.2,3.20,High
8,9,5.2,3.6,6.3,4.0,4.9,2.82,Low
9,10,7.7,0.7,9.8,4.5,1.3,2.76,Moderate